<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!-- 이클립스 -> 스프링이 아닌 스프링에서 프로젝트 생성해서 직접 만듬
	mapper.xml파일 http -> https 변경 -->
  
  <!-- MyBatis에서 사용하는 전체 설정 -->
  <settings>
    <!-- 컬럼 이름과 자바 필드 이름을 자동 매핑 -->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <!-- SQL 실행 시 로그 출력 -->
    <setting name="logImpl" value="STDOUT_LOGGING"/>
  </settings>

  <!-- Mapper XML 위치 등록 (resources 안의 경로 기준) -->
  <mappers>
    <mapper resource="com/gostudy/gos/mapper/MemberMapper.xml"/>
    <mapper resource="com/gostudy/gos/mapper/ChatRoomMapper.xml"/>
    <mapper resource="com/gostudy/gos/mapper/ChatMessageMapper.xml"/>
  </mappers>

</configuration>
